body {
  background-color: #e8e8e8;
}

.b-box {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  border-radius: 4px;
  background-color: #fff;
  width: 256px;
  height: 256px;
}

.brick {
  background-color: #8c8c8c;
}
