
body {
  background-color: #ebebeb;
}

#nav {
  background-color: #014682;
}

#content {
  padding-top: 55px;
  background-color: #ebebeb;
}

.feed-grid {
  margin: 0 auto;
}

.feed-gutter-sizer {
  width: 10px;
}

.feed-item-sizer,
.feed-item {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .4);
  border-radius: 5px;
  background-color: #fff;
  width: 256px;
  margin: 5px 0;
}

.feed-item-higher {
  height: 300px;
}
